/.speakeasy/reports
/react-query
/models
/models/errors
/types
/node_modules
/lib
/sdk
/funcs
/hooks
/index.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/__tests__
/examples/node_modules
/coverage
/bun.*
/examples/bun.*
/examples/deno.lock
